In [1]:
import pandas as pd

In [2]:
volcano_df = pd.read_csv("data/volcano.csv")

In [3]:
volcano_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   volcano_number            958 non-null    int64
 1   volcano_name              958 non-null    object
 2   primary_volcano_type      958 non-null    object
 3   last_eruption_year        958 non-null    object
 4   country                   958 non-null    object
 5   region                    958 non-null    object
 6   subregion                 958 non-null    object
 7   latitude                  958 non-null    float64
 8   longitude                 958 non-null    float64
 9   elevation                 958 non-null    int64
 10  tectonic_settings         958 non-null    object
 11  evidence_category         958 non-null    object
 12  major_rock_1              958 non-null    object
 13  major_rock_2              958 non-null    object
 14  major_rock_3              958 non-null    object
 15  major_rock_4              958 non-null    object
 16  major_rock_5              958 non-null    object
 17  minor_rock_1              958 non-null    object
 18  minor_rock_2              958 non-null    object
 19  minor_rock_3              958 non-null    object
 20  minor_rock_4              958 non-null    object
 21  minor_rock_5              958 non-null    object
 22  population_within_5_km    958 non-null    int64
 23  population_within_10_km   958 non-null    int64
 24  population_within_30_km   958 non-null    int64
 25  population_within_100_km  958 non-null    int64
dtypes: float64(2), int64(6), object(18)
memory usage: 194.7+ KB

In [4]:
# empty rows not showing up as na
volcano_df.head()

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,,,,,,,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,,,,,,,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,Guatemala,14.501,-90.876,3976,...,,Basalt / Picro-Basalt,,,,,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,,,,,,,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,,Dacite,,,,,0,70,4019,393303