In [2]:
import pandas as pd

In [3]:
stroke_df = pd.read_csv('data/stroke.csv', sep=';')

In [4]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28980 entries, 0 to 28979
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fyear          28980 non-null  object
 1   Org_type       28980 non-null  object
 2   Code           28980 non-null  object
 3   sex            28980 non-null  object
 4   ONSCode        11130 non-null  object
 5   Org_title      28980 non-null  object
 6   Denominator    28980 non-null  object
 7   Numerator      28980 non-null  object
 8   ExpectedValue  28980 non-null  object
 9   ISR            28980 non-null  object
 10  LowerLimit95   28980 non-null  object
 11  UpperLimit95   28980 non-null  object
 12  LowerLimit998  28980 non-null  object
 13  UpperLimit998  28980 non-null  object
dtypes: object(14)
memory usage: 3.1+ MB

In [7]:
stroke_df.head(5)

,Fyear,Org_type,Code,sex,ONSCode,Org_title,Denominator,Numerator,ExpectedValue,ISR,LowerLimit95,UpperLimit95,LowerLimit998,UpperLimit998
0,2014/15,National,O00,F,E92000001,ENGLAND,34765,6552,6967.44,16922.52,16515.21,17337.34,16283.82,17578.57
1,2014/15,National,O00,M,E92000001,ENGLAND,35778,4696,5719.61,14774.94,14355.34,15203.69,14117.62,15453.41
2,2014/15,National,O00,P,E92000001,ENGLAND,70543,11248,12657.67,15991.38,15697.19,16289.69,15529.48,16462.82
3,2014/15,Region of residence,A,F,E12000001,NORTH EAST,2249,351,417.27,15137.39,13594.96,16806.88,12762.52,17804.67
4,2014/15,Region of residence,A,M,E12000001,NORTH EAST,2280,265,356.18,13388.85,11825.13,15101.81,10989.91,16130.94

In [11]:
stroke_df["ONSCode"].value_counts()

E12000007    60
E92000001    30
E07000134    30
E07000143    30
E07000142    30
             ..
E06000035    30
E06000034    30
E06000033    30
E06000056    30
E13000002    30
Name: ONSCode, Length: 370, dtype: int64